.container {
  position: relative;
}
section {
  margin-left: 100px;
  font-size: 20px;
}
nav {
  position: absolute;
  left: 0px;
  width: 200px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: rgb(255, 143, 143);
  width: 100%;
  text-align: center;
}
body {
  margin-bottom: 120px;
}
