.three-colums {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
  font-size: 25px;
  text-align: justify;
}

.judul {
  font-size: 50px;
  color: brown;
  text-align: center;
}
